input{
    height: 35px;
    background-color: transparent;
}
video.poster{
    object-fit: cover;
}
.file-upload::-webkit-file-upload-button {
    visibility: hidden;
  }

.modalAnimationDown {
    animation: ModalCreateVideo 1s ease-in 0s 1 normal both;
}


@keyframes ModalCreateVideo {
    from {
        top: -120vh;
    }

    to {
        top: 0
    }
}

.modalAnimationUp {
    animation: ModalCancelVideo 1s ease-in 0s 1 normal both;
}


@keyframes ModalCancelVideo {
    from {
        top: 0;
    }

    to {
        top: -100vh
    }
}

/* navbar open animation */
.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


  